<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
    <h1>
      {{ title }}!
    </h1>
  </header>
  <nav id= "nav" class="col-lg-12">
    <ul>
      <li><a [routerLink]="['/']" [routerLinkActive]="['activado']"> Home </a></li>
      <li><a [routerLink]="['/canciones']" [routerLinkActive]="['activado']"> Canciones </a></li>
      <li><a [routerLink]="['/addCancion']" [routerLinkActive]="['activado']"> Crear Cancion</a></li>
    </ul>
  </nav>

  <section id= "main" class="col-lg-12">
    <!--componente actual-->
   
   <router-outlet></router-outlet>
  </section>


  
</div>

